{% extends "polls/base.html" %}
{% load static %}
{% block content %}
<html>
    <head>
        <style>
        table, th, td {
        border: 4px solid;
        border-collapse: solid;
        border-color: coral;
        }
        </style>
        </head>
<body>
<h2>Choose Polls</h2>
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<table>
    <tr>
        <th scope="col">Polls</th>
        <th scope="col">Vote</th>
        <th scope="col">Results</th>
    </tr>
    <tr>
        {% if latest_question_list %}
            {% for question in latest_question_list %}
            <tr>
                <td>
                    {% if question.was_published_recently %}
                        <h4>{{ question.question_text }}<span class="badge rounded-pill bg-danger"style="margin-left:40px ;font-size: x-small">New</span></h4>
                </td>
            </td>
        {% else %}
        <h4>{{ question.question_text }}</h4>
    </td>
    {% endif %}
    {% if question.can_vote %}
        <td>
            <button style="background-color: rgb(68, 148, 11); color:white;border: 3px solid #6bd564e0;padding: 7px;border-radius: 3px;cursor: pointer;">
                <a class="btn btn-success btn-sm" href="{% url 'polls:detail' question.id %}" role="button">Vote</a>
            </button>
        </td>
    {% else %}
        <td>
            <span class="badge bg-danger"style="margin:0px ;font-size:small">Vote Ended</span>
        </td>
    {% endif %}
<td>
    <button style="background-color: rgb(209, 206, 47); color:white;border: 3px solid #e2ff84;padding: 7px;border-radius: 3px;cursor: pointer;">
        <a class="btn btn-warning btn-sm" href="{% url 'polls:results' question.id %}" role="button">Result</a>
    </button>
</td>
            </tr>
    </tr>
    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
</table>
</body>
</html>